header, main {
	max-width: 800px;
	margin: auto;
}
main {
	max-width: 1200px;
}

input[type="text"], input[type="submit"] {
	font-family: inherit;
	font-size: inherit;

	padding: 0.4em;
	border: 2px solid #ccc;
	border-radius: 6px;
	outline: none;
}
input[type="text"]:focus, input[type="submit"]:focus {
	border-color: #d95f38;
	-webkit-transition: border 0.2s linear;
	-moz-transition: border 0.2s linear;
	-ms-transition: border 0.2s linear;
	-o-transition: border 0.2s linear;
	transition: border 0.2s linear;
}
input[type="submit"], button {
	background: #d95f38;
	padding: 0.4em;
	border: none;
	border-radius: 6px;
}

h1 {
	text-align: justify;
}
h1::after{
    content: "";
    display: inline-block;
    width: 100%;
}
#title {
	width: 400px;
	font-weight: 300;

	background: linear-gradient(90deg, #afa 100%, transparent 100%);
	background-position: 0 0;
	background-size: 0 100%;
	background-repeat: no-repeat;
	-webkit-transition: background-size 0.2s ease;
	-moz-transition: background-size 0.2s ease;
	-ms-transition: background-size 0.2s ease;
	-o-transition: background-size 0.2s ease;
	transition: background-size 0.2s ease;
}
#title.onethird { background-size: 33% 100%; }
#title.twothirds { background-size: 66% 100%; }
#title.done { background-size: 100% 100%; }
#title.error { background: #f7a098; }
#go {
	display: none;
}
