@import url(../fonts/Whitney/whitney.css);

body {
	font-family: 'Whitney';
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, b, strong, dfn, th {
	font-weight: 600;
}
.subject {
	color: #04862e;
}
.action {
	font-style: italic;
	color: #c51d23;
}
.object {
	color: #4f55f6;
}
.up {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
	line-height: 1.5;
}
.up > span {
	writing-mode: tb-rl;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	display: inline-block;
	white-space: nowrap;
}
.up > span::after {
	content: "";
	float: left;
	margin-top: 100%;
}
abbr {
	font-weight: 700;
	border-bottom: 1px dotted currentColor;
}

.charname {
	font-weight: 300;
}
#hover {
	display:none;
	position:absolute;
	width:300px;
	background-color: rgba(255,255,255,0.6);
	border:1px #000 solid;
	padding:10px;
	pointer-events:none;
}

#sentencesButton{
	text-align: right;
}