@font-face {
	font-family: 'Whitney';
	font-weight: 900;
	font-style: normal;
	src: local('Whitney Black'), url(Whitney-Black.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 900;
	font-style: italic;
	src: local('Whitney-BlackItalic'), url(Whitney-BlackItalic.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 700;
	font-style: normal;
	src: local('Whitney-Bold'), url(Whitney-Bold.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 700;
	font-style: italic;
	src: local('Whitney-BoldItalic'), url(Whitney-BoldItalic.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 300;
	font-style: normal;
	src: local('Whitney Book'), url(Whitney-Book.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 300;
	font-style: italic;
	src: local('Whitney-BookItalic'), url(Whitney-BookItalic.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 200;
	font-style: normal;
	src: local('Whitney Light'), url(Whitney-Light.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 200;
	font-style: italic;
	src: local('Whitney-LightItalic'), url(Whitney-LightItalic.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 400;
	font-style: normal;
	src: local('Whitney'), url(Whitney-Medium.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 400;
	font-style: italic;
	src: local('Whitney-MediumItalic'), url(Whitney-MediumItalic.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 600;
	font-style: normal;
	src: local('Whitney Semibold'), url(Whitney-Semibold.otf);
}
@font-face {
	font-family: 'Whitney';
	font-weight: 600;
	font-style: italic;
	src: local('Whitney-SemiboldItalic'), url(Whitney-SemiboldItalic.otf);
}
